@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: M PLUS Rounded 1c;
  --font-mono: Fira Code;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Noto Serif;
  --radius: 1.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 1.5rem;
  --background: oklch(0.9731 0.0041 91.4462);
  --foreground: oklch(0.3921 0.0127 81.7544);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3921 0.0127 81.7544);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3921 0.0127 81.7544);
  --primary: oklch(0.5583 0.0356 168.2353);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8953 0.0230 78.2081);
  --secondary-foreground: oklch(0.4850 0.0247 71.8289);
  --muted: oklch(0.9843 0.0135 78.2648);
  --muted-foreground: oklch(0.5547 0.0259 84.5709);
  --accent: oklch(0.9589 0.0148 70.8878);
  --accent-foreground: oklch(0.5297 0.0323 167.8135);
  --destructive: oklch(0.5672 0.0663 21.8436);
  --border: oklch(0.8778 0.0236 75.8399);
  --input: oklch(0.8778 0.0236 75.8399);
  --ring: oklch(0.5858 0.0508 165.8744);
  --chart-1: oklch(0.5858 0.0508 165.8744);
  --chart-2: oklch(0.7074 0.0302 165.0865);
  --chart-3: oklch(0.8778 0.0236 75.8399);
  --chart-4: oklch(0.7457 0.0228 76.4770);
  --chart-5: oklch(0.6650 0.1087 24.6445);
  --sidebar: oklch(0.9448 0.0080 73.7424);
  --sidebar-foreground: oklch(0.3921 0.0127 81.7544);
  --sidebar-primary: oklch(0.5525 0.0393 168.3990);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9359 0.0261 76.7920);
  --sidebar-accent-foreground: oklch(0.5112 0.0451 167.1267);
  --sidebar-border: oklch(0.8328 0.0187 78.2247);
  --sidebar-ring: oklch(0.5858 0.0508 165.8744);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: M PLUS Rounded 1c;
  --font-serif: Noto Serif;
  --font-mono: Fira Code;
  --shadow-color: #9d9180;
  --shadow-opacity: 0.2;
  --shadow-blur: 21px;
  --shadow-spread: 2px;
  --shadow-offset-x: -2px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0px;
  --spacing: 0.18rem;
  --shadow-2xs: -2px 4px 21px 2px hsl(35.1724 12.8889% 55.8824% / 0.10);
  --shadow-xs: -2px 4px 21px 2px hsl(35.1724 12.8889% 55.8824% / 0.10);
  --shadow-sm: -2px 4px 21px 2px hsl(35.1724 12.8889% 55.8824% / 0.20), -2px 1px 2px 1px hsl(35.1724 12.8889% 55.8824% / 0.20);
  --shadow: -2px 4px 21px 2px hsl(35.1724 12.8889% 55.8824% / 0.20), -2px 1px 2px 1px hsl(35.1724 12.8889% 55.8824% / 0.20);
  --shadow-md: -2px 4px 21px 2px hsl(35.1724 12.8889% 55.8824% / 0.20), -2px 2px 4px 1px hsl(35.1724 12.8889% 55.8824% / 0.20);
  --shadow-lg: -2px 4px 21px 2px hsl(35.1724 12.8889% 55.8824% / 0.20), -2px 4px 6px 1px hsl(35.1724 12.8889% 55.8824% / 0.20);
  --shadow-xl: -2px 4px 21px 2px hsl(35.1724 12.8889% 55.8824% / 0.20), -2px 8px 10px 1px hsl(35.1724 12.8889% 55.8824% / 0.20);
  --shadow-2xl: -2px 4px 21px 2px hsl(35.1724 12.8889% 55.8824% / 0.50);
  --tracking-normal: 0px;
}

.dark {
  --background: oklch(0.2850 0.0056 91.5701);
  --foreground: oklch(0.9046 0.0075 80.7201);
  --card: oklch(0.3296 0.0075 84.5915);
  --card-foreground: oklch(0.9046 0.0075 80.7201);
  --popover: oklch(0.3296 0.0075 84.5915);
  --popover-foreground: oklch(0.9046 0.0075 80.7201);
  --primary: oklch(0.6815 0.0546 167.5717);
  --primary-foreground: oklch(0.2471 0.0128 170.4896);
  --secondary: oklch(0.4462 0.0170 74.2255);
  --secondary-foreground: oklch(0.9046 0.0075 80.7201);
  --muted: oklch(0.3766 0.0093 80.6828);
  --muted-foreground: oklch(0.7486 0.0122 84.5852);
  --accent: oklch(0.3944 0.0087 88.7209);
  --accent-foreground: oklch(0.7676 0.0443 167.9235);
  --destructive: oklch(0.7028 0.1070 24.4280);
  --border: oklch(0.3766 0.0093 80.6828);
  --input: oklch(0.3766 0.0093 80.6828);
  --ring: oklch(0.6815 0.0546 167.5717);
  --chart-1: oklch(0.6815 0.0546 167.5717);
  --chart-2: oklch(0.5858 0.0508 165.8744);
  --chart-3: oklch(0.4462 0.0170 74.2255);
  --chart-4: oklch(0.6123 0.0209 83.0452);
  --chart-5: oklch(0.7028 0.1070 24.4280);
  --sidebar: oklch(0.3296 0.0075 84.5915);
  --sidebar-foreground: oklch(0.9046 0.0075 80.7201);
  --sidebar-primary: oklch(0.6815 0.0546 167.5717);
  --sidebar-primary-foreground: oklch(0.2471 0.0128 170.4896);
  --sidebar-accent: oklch(0.3766 0.0093 80.6828);
  --sidebar-accent-foreground: oklch(0.7676 0.0443 167.9235);
  --sidebar-border: oklch(0.4110 0.0112 78.1999);
  --sidebar-ring: oklch(0.6815 0.0546 167.5717);
  --destructive-foreground: oklch(0.2773 0.0408 24.7687);
  --radius: 1.5rem;
  --font-sans: M PLUS Rounded 1c;
  --font-serif: Noto Serif;
  --font-mono: Fira Code;
  --shadow-color: #000000;
  --shadow-opacity: 0.2;
  --shadow-blur: 21px;
  --shadow-spread: 2px;
  --shadow-offset-x: -2px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0px;
  --spacing: 0.18rem;
  --shadow-2xs: -2px 4px 21px 2px hsl(0 0% 0% / 0.10);
  --shadow-xs: -2px 4px 21px 2px hsl(0 0% 0% / 0.10);
  --shadow-sm: -2px 4px 21px 2px hsl(0 0% 0% / 0.20), -2px 1px 2px 1px hsl(0 0% 0% / 0.20);
  --shadow: -2px 4px 21px 2px hsl(0 0% 0% / 0.20), -2px 1px 2px 1px hsl(0 0% 0% / 0.20);
  --shadow-md: -2px 4px 21px 2px hsl(0 0% 0% / 0.20), -2px 2px 4px 1px hsl(0 0% 0% / 0.20);
  --shadow-lg: -2px 4px 21px 2px hsl(0 0% 0% / 0.20), -2px 4px 6px 1px hsl(0 0% 0% / 0.20);
  --shadow-xl: -2px 4px 21px 2px hsl(0 0% 0% / 0.20), -2px 8px 10px 1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: -2px 4px 21px 2px hsl(0 0% 0% / 0.50);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}